$texto-claro: rgb(0, 0, 0);
$texto-oscuro: rgb(114, 246, 38);
$enlace-claro: rgb(5, 112, 253);
$enlace-oscuro: rgb(207, 29, 252);
$fondo-claro: rgb(255, 255, 255);
$fondo-oscuro: rgb(36, 46, 65);
$h1-oscuro: rgb(250, 143, 3);
$h1-claro: rgb(222, 96, 245);
body.dark-theme {
    background-color: $fondo-oscuro;
    color: $texto-oscuro;
    a {
        color: $enlace-oscuro;
        font-weight: 900;
    }
    .sol {
        color: white;
    }
    h1 {
        color: $h1-oscuro;
    }
}

body.dark-theme img {
    -webkit-filter: brightness(0.8) contrast(1.2);
    filter: brightness(0.8) contrast(1.2);
    width: 400px;
    height: 400px;
    object-fit: cover;
}

body {
    background-color: $fondo-claro;
    color: $texto-claro;
    .contenedor-fila-enlace {
        color: $enlace-claro;
        font-weight: 100;
    }
    .contenedor-fila-parrot {
        filter: brightness(1.3) contrast(1);
        width: 400px;
        height: 400px;
        object-fit: none;
    }
    .luna {
        color: black;
    }
    h1 {
        color: $h1-claro;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: rgb(36, 46, 65);
        color: #ffb847;
        color: $texto-oscuro;
        a.contenedor-fila-enlace {
            color: $enlace-oscuro;
            font-weight: 900;
        }
        .contenedor-fila-parrot {
            filter: brightness(.8) contrast(1.2);
            width: 400px;
            height: 400px;
            object-fit: none;
        }
    }
    body.light-theme {
        background-color: $fondo-claro;
        color: $texto-claro;
        .contenedor-fila-enlace {
            color: $enlace-claro;
            font-weight: 100;
        }
        .contenedor-fila-parrot {
            filter: brightness(1.3) contrast(1);
            width: 300px;
            height: 300px;
            object-fit: none;
        }
    }
}

p {
    column-count: 2;
    font-size: 22px;
}

.contenedor {
    width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


/*Agregados*/

body {
    transition: background-color 1s;
}


/* .oscuro {
    background-color: black;
} */

.container {
    position: relative;
}

.sol {
    font-size: 5rem;
    width: fit-content;
    height: fit-content;
}

.luna {
    position: absolute;
    margin-left: 20px;
    margin-top: -70px;
}

svg.svg-inline--fa.fa-moon.fa-w-16 {
    width: 50px;
    height: 50px;
}

.luna-logo {
    opacity: 0;
    transform: translateY(20%) rotateZ(50deg);
    transition: all 1s ease-out;
}

.sol-logo {
    opacity: 1;
    transform: translateY(0) rotateZ(0deg);
    transition: all 1s ease-out;
}

.animar-sol {
    opacity: 0;
    transform: translateY(20%) rotateZ(100deg);
    color: aliceblue;
}

.animar-luna {
    opacity: 1;
    transform: translateY(0%) rotateZ(0deg);
    color: aliceblue;
}