body.dark-theme {
  background-color: #242e41;
  color: #72f626;
}

body.dark-theme a {
  color: #cf1dfc;
  font-weight: 900;
}

body.dark-theme .sol {
  color: white;
}

body.dark-theme h1 {
  color: #fa8f03;
}

body.dark-theme img {
  -webkit-filter: brightness(0.8) contrast(1.2);
  filter: brightness(0.8) contrast(1.2);
  width: 400px;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}

body {
  background-color: white;
  color: black;
}

body .contenedor-fila-enlace {
  color: #0570fd;
  font-weight: 100;
}

body .contenedor-fila-parrot {
  -webkit-filter: brightness(1.3) contrast(1);
          filter: brightness(1.3) contrast(1);
  width: 400px;
  height: 400px;
  -o-object-fit: none;
     object-fit: none;
}

body .luna {
  color: black;
}

body h1 {
  color: #de60f5;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #242e41;
    color: #ffb847;
    color: #72f626;
  }
  body a.contenedor-fila-enlace {
    color: #cf1dfc;
    font-weight: 900;
  }
  body .contenedor-fila-parrot {
    -webkit-filter: brightness(0.8) contrast(1.2);
            filter: brightness(0.8) contrast(1.2);
    width: 400px;
    height: 400px;
    -o-object-fit: none;
       object-fit: none;
  }
  body.light-theme {
    background-color: white;
    color: black;
  }
  body.light-theme .contenedor-fila-enlace {
    color: #0570fd;
    font-weight: 100;
  }
  body.light-theme .contenedor-fila-parrot {
    -webkit-filter: brightness(1.3) contrast(1);
            filter: brightness(1.3) contrast(1);
    width: 400px;
    height: 400px;
    -o-object-fit: none;
       object-fit: none;
  }
}

p {
  -webkit-column-count: 2;
          column-count: 2;
  font-size: 22px;
}

.contenedor {
  width: 800px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

/*Agregados*/
body {
  -webkit-transition: background-color 1s;
  transition: background-color 1s;
}

/* .oscuro {
    background-color: black;
} */
.container {
  position: relative;
}

.sol {
  font-size: 5rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.luna {
  position: absolute;
  margin-left: 20px;
  margin-top: -70px;
}

svg.svg-inline--fa.fa-moon.fa-w-16 {
  width: 50px;
  height: 50px;
}

.luna-logo {
  opacity: 0;
  -webkit-transform: translateY(20%) rotateZ(50deg);
          transform: translateY(20%) rotateZ(50deg);
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

.sol-logo {
  opacity: 1;
  -webkit-transform: translateY(0) rotateZ(0deg);
          transform: translateY(0) rotateZ(0deg);
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

.animar-sol {
  opacity: 0;
  -webkit-transform: translateY(20%) rotateZ(100deg);
          transform: translateY(20%) rotateZ(100deg);
  color: aliceblue;
}

.animar-luna {
  opacity: 1;
  -webkit-transform: translateY(0%) rotateZ(0deg);
          transform: translateY(0%) rotateZ(0deg);
  color: aliceblue;
}
/*# sourceMappingURL=style.css.map */