    $fondo-claro: rgb(255, 255, 255);
    $fondo-oscuro: #152028;
    $color-claro: rgb(5, 5, 5);
    $color-oscuro: rgb(74, 255, 58);
    body.dark {
        background-color: $fondo-oscuro;
        color: $color-oscuro;
    }
    
    body.light {
        background-color: $fondo-claro;
        color: $color-claro;
    }
    
    @media (prefers-color-scheme: dark) {
        body.dark {
            background-color: $fondo-oscuro;
            color: $color-oscuro;
            img {
                filter: brightness(.8) contrast(1.2);
            }
        }
    }
    
    @media (prefers-color-scheme: light) {
        body.light {
            background-color: $fondo-claro;
            color: $color-claro;
        }
    }